.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #eff1f9;
    box-shadow: rgba(169, 87, 87, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #FDFDF9;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

#btn {
    background-color: #D3D0CB;
}

input[type=button] {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #FDFDF9;
    color: #AB8180;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
body{
    background-color: #ebecf1;
}
h1{
    text-align: center;
    color: rgb(75, 174, 189);
}